
<app-user-infp></app-user-infp>

<br>
<br>


<button (click)="addPost()">Add post</button>
<app-user-posts [posts]="userPosts" ></app-user-posts>

<br>
<br>
<h1>Parent</h1>
{{userPosts | json}} 


<!-- --------------------------- -->


<!-- <div class="container">
	<h3> Parent component </h3>
	Name: <input type='text' [(ngModel)]="person.name">
	<br /> Age:
	<button (click)="person.age = person.age+1">+</button> {{ person.age }}
	<button (click)="person.age = person.age-1">-</button>
	<br />
	<button (click)="reassign()">Re-Assign</button>
	<br>
	<pre>{{ person | json}}</pre>
	<app-user-posts [person]="person"></app-user-posts>
</div> -->